@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales*/
body {
  font-family: "roboto", sans-serif;
}

/* mobile first */
/* estilos inicio */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
}
header nav div {
  background-color: black;
}
header nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 12px;
  justify-content: center;
  padding-bottom: 15px;
}
header img {
  width: 35%;
}
header .nav-link {
  color: whitesmoke;
}
header .aria-current {
  color: whitesmoke;
}
header .dropdown-menu {
  background-color: black;
}
header .dropdown-item {
  color: whitesmoke;
}
header .menu {
  color: whitesmoke;
  text-decoration: none;
}

body {
  background-color: whitesmoke;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FD93E8;
}
footer p {
  font-weight: bold;
  margin-bottom: 10px;
}
footer nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}
footer nav ul li img {
  width: 40px;
  margin-top: 10px;
}

/* estilos página homepage */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
main .imagen {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
main .imagen img {
  width: 70%;
  border-radius: 10px;
}
main .textos {
  padding: 10px;
  text-align: center;
}
main .textos h1 {
  padding-bottom: 10px;
  color: #FD93E8;
}
main .boton {
  background-color: #FD93E8;
  font-weight: bold;
  display: inline-block;
  margin: 15px;
  padding: 10px;
  border-width: 10px;
  border-color: none;
  border-style: hidden;
  border-radius: 15px;
}
main .boton a {
  text-decoration: none;
  color: black;
}

.mis-servicios {
  text-align: center;
}
.mis-servicios h1 {
  color: #FD93E8;
  padding: 1rem;
}
.mis-servicios h3 {
  padding: 0.5rem;
}

/*
.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
    column-gap: 1rem;
    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
*/
.boton-mkp {
  background-color: #FD93E8;
  font-weight: bold;
  margin: 30px;
  display: inline-block;
  padding: 10px;
  border-width: 10px;
  border-color: black;
  border-style: hidden;
  border-radius: 15px;
}
.boton-mkp a {
  text-decoration: none;
  color: black;
}

/* no supe crear la ruta para estas clases */
.mkp {
  text-align: center;
}

.pink-hover:hover {
  background-color: #FD93E8;
}

.accordion-button:not(.collapsed) {
  background-color: #FD93E8;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.accordion-button {
  font-weight: 500;
  background-color: whitesmoke;
}

/* estilos página maquillajes */
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mkp {
  text-align: center;
}

.mis-servicios {
  text-align: center;
}
.mis-servicios h1 {
  color: #FD93E8;
  padding: 1rem;
}
.mis-servicios h3 {
  padding: 0.5rem;
}

.boton-mkp {
  background-color: #FD93E8;
  font-weight: bold;
  margin: 30px;
  display: inline-block;
  padding: 10px;
  border-width: 10px;
  border-color: black;
  border-style: hidden;
  border-radius: 15px;
}
.boton-mkp a {
  text-decoration: none;
  color: black;
}

/* no supe crear la ruta para estas clases */
.pink-hover:hover {
  background-color: #FD93E8;
}

.accordion-button:not(.collapsed) {
  background-color: #FD93E8;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.accordion-button {
  font-weight: 500;
  background-color: whitesmoke;
}

/*estilo carousel swiper - valido para otras paginas también*/
html, body {
  position: relative;
  height: 100%;
}
html body, body body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
html body .swiper, body body .swiper {
  width: 100%;
  height: 100%;
}
html body .swiper-slide, body body .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .swiper-slide img, body body .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* estilos página contactos */
body .contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .contacto nav {
  list-style: none;
}
body .contacto ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
body .contacto img {
  width: 70px;
  margin: 15px;
  font-size: 20px;
}

main form {
  background-color: #FD93E8;
  padding: 20px;
  margin: 0px;
  box-shadow: 0px 2px 5px black;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  flex-wrap: wrap;
}
main form .form-grp {
  margin-bottom: 20px;
}
main form label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
main form input {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}
main form textarea {
  resize: vertical;
  width: 100%;
  border-radius: 5px;
}
main form button {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

@media screen and (min-width: 1024px) {
  header img {
    width: 10%;
  }
  main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  main .home-lado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: black;
  }
  main .imagen {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 40%;
  }
  main .imagen img {
    width: 60%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  main .textos {
    text-align: center;
    justify-content: center;
    max-width: 40%;
  }
  main .textos h1 {
    padding-bottom: 10px;
    color: #FD93E8;
  }
  main .boton {
    background-color: #FD93E8;
    font-weight: bold;
    display: inline-block;
    margin: 15px;
    padding: 10px;
    border-width: 10px;
    border-color: none;
    border-style: hidden;
    border-radius: 15px;
  }
  main .boton a {
    text-decoration: none;
    color: black;
  }
}
/*
main{
    @include flex-center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    .home-lado {
        display: flex;
        justify-content: space-between; // Distribuye los elementos a ambos lados
        align-items: center;
        width: 100%;
        max-width: 1200px; // Ajusta el tamaño máximo del contenedor
        margin: 0 auto;
    }
    .imagen{
        @include flex-center;
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 75%;
        img{
            width: 70%;
            border-radius: 8px;
            margin-bottom: 15px;
        }
    }
    .textos{
        text-align: center;
        justify-content: center;
        background-color: $color-tres;
        max-width: 40%;
        h1{
            padding-bottom: 10px;
            color: $color-uno; 
        }
    }
    .boton {
        background-color: $color-uno;
        font-weight: bold;
        display: inline-block;
        margin: 15px;
        padding: 10px;
        border-width: 10px;
        border-color: none;
        border-style: hidden;
        border-radius: 15px;
        a{
            text-decoration: none;
            color: $color-dos;
        }
    }
}
*/

/*# sourceMappingURL=main.css.map */
