
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #000000;
  display: flex;
  font-family: sans-serif;
  align-items: center;
  flex-direction: column;
}

.nav-link{
  color: whitesmoke;
}

.aria-current{
  color: whitesmoke;
}

.dropdown-menu{
  background-color: black;

}

.dropdown-item{
  color: whitesmoke ;
}

header nav div{
  background-color: black;
}

header img{
  width: 35%;
}

header nav ul{
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 12px;
  justify-content: center;
  padding-bottom: 15px;
  
}

.menu{
  color: whitesmoke;
  text-decoration: none;
}

body{
  background-color: whitesmoke
  ;
}

footer{
  background-color: #FD93E8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p{
  font-weight: bold;
  margin-bottom: 10px;
}

footer nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;

}

footer nav ul li img{
  width: 40px;
  margin-top: 10px;

}

/* PAGINA HOME*/

main video{
  padding: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PAGINA SOBRE MI*/

main{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}


main .imagen{
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
main .imagen img{
  
  width: 70%;
}

main .textos{
  text-align: center;
  justify-content: center;
}

main .textos h1{
  padding-bottom: 10px;
  color: #FD93E8;
}

.boton{
  background-color: #FD93E8;
  font-weight: bold;
  display: inline-block;
  margin: 15px;
  padding: 10px;
  border-width: 10px;
  border-color: none;
  border-style: hidden;
  border-radius: 15px;
}

.boton a{
  text-decoration: none;
  color: black;
}

/* PAGINA MAQUILLAJES*/

.contenedor{
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  grid-template-rows: repeat(9, 1fr);
  padding: 1rem;
  column-gap: 1rem;
}

.contenedor div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mis-servicios{
  text-align: center;
}

.mis-servicios h1{
  color: #FD93E8;
  padding: 1rem;
}

.mis-servicios h3{
  padding: 0.5rem;
}

.boton-mkp{
  background-color: #FD93E8;
  font-weight: bold;
  margin: 30px;
  display:inline-block;
  padding: 10px;
  border-width: 10px;
  border-color: black;
  border-style: hidden;
  border-radius: 15px;
}

.boton-mkp a{
  text-decoration: none;
  color: black;
}

.mkp{
  text-align: center;
}

.pink-hover:hover{
background-color: #FD93E8;
}




@media screen and (min-width:600px){
  header img{
    width: 15%; 
  }
  main video{
    width: 60%;
  }
  main .imagen img{
  
    width: 55%;
    padding-bottom: 20px;
  }

}

@media screen and (min-width:1024px){
  header img{
    width: 10%; 
  }
  main video{
    width: 30%;
  }

  main .imagen img{
  
    width: 45%;
    padding-bottom: 20px;
  }

  .contenedor{
      display: grid;
      grid-template-columns: repeat(4, 1fr) ;
      grid-template-rows: repeat(4, 1fr);
      
  }

  .contenedor div img{
      width: 50%;
      height: 50%;
      object-fit: cover;
  }
}